@-moz-document domain("archlinux.org") {
    /* top bar */
    #archnavbar {
        --archnavbar-background-color: var(
            --refox-background-extra,
            #333
        ) !important;
    }

    /* body */
    body {
        background: var(--refox-background, #f6f9fc) !important;
        color: var(--refox-text, #222) !important;
    }

    /* home widget box */
    div.box {
        background: var(--refox-background-light, #ecf2f5) !important;
        border: 1px solid var(--refox-background-extra, #bcd) !important;
    }

    /* date time home news below */
    dl dt {
        color: var(--refox-accent-secondary, #333) !important;
    }

    /* highlighted text */
    code {
        background: var(--refox-background-extra, #ffd) !important;
    }

    /* packages table */
    .results th {
        background: var(--refox-background-extra, #fff) !important;
        border-bottom: 1px solid var(--refox-background, #999) !important;
    }
    .results tr:nth-child(2n + 1 of :not([hidden])) {
        background: var(--refox-background-extra, #fff) !important;
    }
    .results tr:nth-child(2n of :not([hidden])) {
        background: var(--refox-background-light, #e4eeff) !important;
    }
}
