@-moz-document domain("discord.com") {
    /* This theme properly works on "Dark" and "Light" theme from the appearance tab */
    :root {
        /* Background Colors */
        --neutral-94: var(
            --refox-background,
            hsl(var(--neutral-94-hsl)/1)
        ) !important;
        --neutral-92: var(
            --refox-background,
            hsl(var(--neutral-94-hsl)/1)
        ) !important;
        --neutral-86: var(
            --refox-background,
            hsl(var(--neutral-86-hsl)/1)
        ) !important;
        --neutral-82: var(
            --refox-background-light,
            hsl(var(--neutral-82-hsl)/1)
        ) !important;
        --neutral-80: var(
            --refox-background-light,
            hsl(var(--neutral-80-hsl)/1)
        ) !important;
        --neutral-79: var(
            --refox-background,
            hsl(var(--neutral-79-hsl)/1)
        ) !important;
        --neutral-76: var(
            --refox-background-light,
            hsl(var(--neutral-76-hsl)/1)
        ) !important;
        --neutral-73: var(
            --refox-background-light,
            hsl(var(--neutral-73-hsl)/1)
        ) !important;
        --neutral-45: var(
            --refox-accent-primary,
            hsl(var(--neutral-45-hsl)/1)
        ) !important;

        /* Accent Colors */
        --blurple-60: var(
            --refox-background-light,
            hsl(var(--blurple-60-hsl)/1)
        ) !important;
        --blurple-59: var(
            --refox-text,
            hsl(var(--blurple-59-hsl)/1)
        ) !important;
        --blurple-50: var(
            --refox-background-extra,
            hsl(var(--blurple-50-hsl)/1)
        ) !important;
        --blurple-36: var(
            --refox-accent-primary,
            hsl(var(--blurple-36-hsl)/1)
        ) !important;
        --blurple-19: var(
            --refox-accent-secondary,
            hsl(var(--blurple-19-hsl)/1)
        ) !important;
        --blurple-14: var(
            --refox-accent-secondary,
            hsl(var(--blurple-14-hsl)/1)
        ) !important;
        --blurple-10: var(
            --refox-background-extra,
            hsl(var(--blurple-10-hsl)/1)
        ) !important;

        /* Text Colors */
        --neutral-5: var(--refox-text, hsl(var(--neutral-5-hsl)/1)) !important;

        --reaction-background-reacted-default: var(
            --refox-background-extra,
            color-mix(
                in oklab,
                hsl(var(--opacity-blurple-24-hsl)/0.23921568627450981) 100%,
                hsl(
                        var(
                                --custom-theme-base-color-hsl,
                                0 0% 0%
                            )/0.23921568627450981
                    )
                    var(--custom-theme-base-color-amount, 0%)
            )
        ) !important;
        --mention-background: var(
            --refox-background-light,
            color-mix(
                in oklab,
                hsl(var(--opacity-blurple-24-hsl)/0.23921568627450981) 100%,
                hsl(
                        var(
                                --custom-theme-base-color-hsl,
                                0 0% 0%
                            )/0.23921568627450981
                    )
                    var(--custom-theme-base-color-amount, 0%)
            )
        ) !important;
        --brand-10a: var(
            --refox-background-extra,
            hsla(var(--brand-500-hsl)/0.1)
        ) !important;
        --message-highlight-background-default: var(
            --refox-background-light,
            color-mix(
                in oklab,
                hsl(var(--opacity-blurple-16-hsl)/0.1607843137254902) 100%,
                hsl(
                        var(
                                --custom-theme-base-color-hsl,
                                0 0% 0%
                            )/0.1607843137254902
                    )
                    var(--custom-theme-base-color-amount, 0%)
            )
        ) !important;
    }
}
