@-moz-document domain("github.com") {
    :root {
        /* top bar */
        --bgColor-inset: var(--refox-background, #010409) !important;

        /* side bar */
        --bgColor-default: var(--refox-background, #0d1117) !important;

        /* home releases widget */
        --bgColor-muted: var(--refox-background-light, #151b23) !important;

        /* side bar border */
        --borderColor-muted: var(
            --refox-background-light,
            #3d444db3
        ) !important;

        /* whole border */
        --borderColor-default: var(
            --refox-background-extra,
            #3d444d
        ) !important;

        /* home button */
        --control-bgColor-rest: var(
            --refox-background-extra,
            #212830
        ) !important;
        --control-bgColor-hover: var(
            --refox-background-light,
            #262c36
        ) !important;

        /* text color */
        --fgColor-default: var(--refox-text, #f0f6fc) !important;

        /* overlay button */
        --overlay-bgColor: var(--refox-background-light, #010409) !important;

        /* search bar border */
        --borderColor-accent-emphasis: var(
            --refox-accent-primary,
            #1f6feb
        ) !important;

        /* fork starred */
        --buttonCounter-default-bgColor-rest: var(
            --refox-background-light,
            #2f3742
        ) !important;

        /* about hooks */
        --bgColor-accent-muted: var(
            --refox-background-extra,
            #388bfd1a
        ) !important;
        --fgColor-accent: var(--refox-accent-primary, #4493f8) !important;
        --bgColor-accent-emphasis: var(
            --refox-background-light,
            #1f6feb
        ) !important;

        /* PR main profile border */
        --borderColor-accent-muted: var(
            --refox-accent-primary,
            #388bfd66
        ) !important;
    }
}
